<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>异常</title>
        <link rel="stylesheet" href="__AVIEW__/lib/layui/css/layui.css"  media="all">
        <style type="text/css">
            html,body{
                height:100%;
                width: 100%;
            }
            .error-body{
                height:100%;
                text-align: center;
                line-height: 30;
                font-size:16px;
            }
            .error-body i{
                font-size:20px;
                color:red;
            }
        </style>
    </head>
    <body>
    	<div class="error-body">
            <i class="layui-icon layui-icon-tips"></i> 
            {$msg}
		</div>
    </body>
</html>